<div class="column center">
    <h2 mat-dialog-title>Filtros</h2>
    <mat-dialog-content>
        <form [formGroup]="data">
            <span class="column center">
                <mat-label><h4>Valor (R$)</h4></mat-label>
            </span>
            <mat-form-field appearance="outline">
                <mat-label>Valor minimo:</mat-label>
                <input matInput placeholder="min" formControlName="min">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Valor máximo:</mat-label>
                <input matInput placeholder="máx" formControlName="max">
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions class="row end">
        <button mat-button (click)="closeDialog()">Confirmar</button>
        <button mat-button mat-dialog-close>cancelar</button>
    </mat-dialog-actions>
</div>