<h5>Exemplo de Pipes</h5>

<p>Título: {{ livro.titulo | uppercase | camelCase}} </p>
<p>Estrelas: {{ livro.rating | number:'1.1-1'   }} </p>
<p>Páginas: {{ livro.numeroPaginas }} </p>
<p>Preço: {{ livro.preco | currency:'BRL':true }} </p>
<p>Data de Lançamento: {{ livro.dataLancamento | date:'dd MMMM yyyy' }} </p>
<p>Url: {{ livro.url  }} </p>

<br>
<p>Livro: {{ livro | json}} </p>

<!-- 
  | = Pipe
  oque vier depois define o formato de Pipe utilizado
-->

<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Adicoinar Curso</button>

<input type="text" [(ngModel)]="filtro">

<h5> Pipe Puro </h5>
<ul>
  <li *ngFor="let liv of livros | filtroArray:filtro">
    {{ liv }}
  </li>
</ul>

<br>

<h5> Pipe Impuro </h5>
<ul>
  <li *ngFor="let liv of livros | filtroArrayImpuro:filtro">
    {{ liv }}
  </li>
</ul>

<h5> Maneira correta de filtrar (segundo a instrutora do curso) </h5>
<ul>
  <li *ngFor="let liv of livros | filtroArrayImpuro:filtro">
    {{ liv }}
  </li>
</ul>



<p> {{ valorAsync | async }} </p>

<p> {{ valorAsync2 | async }} </p>

<!-- o pipe async pega pra nós o valor da promessa direto, sem demonstrar o objeto da promessa diretamente -->