<div>
    <h2>My Heroes</h2>
    <ul class="heroes">
        <li *ngFor="let heroes of hero">
          <a routerLink="/detail/{{heroes.id}}">
            <span class="badge">{{heroes.id}}</span> {{heroes.name}}
          </a>
          <button class="delete" title="delete hero"
            (click)="delete(heroes)">x</button>
        </li>
      </ul>
</div>
<div>
    <label for="new-hero">Hero name: </label>
    <input id="new-hero" #heroName />

    <!-- (click) passes input value to add() and then clears the input -->
    <button class="add-button" (click)="add(heroName.value); heroName.value=''">
        Add hero
    </button>
</div>