<app-navbar></app-navbar>
<mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
<main>
    <mat-card class="card">
        <button mat-button style="height:100%;" value="0">
            <mat-card-content class="card-content">
                <img mat-card-image src="https://images.tcdn.com.br/img/img_prod/641157/xicara_de_cha_com_pires_em_plastico_zeek_linha_pop_787_1_20190531094427.jpg" style="height:150px; width: auto;">
                <span>aaaaaa</span>
            </mat-card-content>
        </button>
    </mat-card>
</main>