.nabvar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.floating {
  position: absolute;
  float: right;
  top: 100%;
  left: 100%;
  transform: translate(-100%,-100%);
}
