<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="form-inline">
      <a class="navbar-brand " [routerLink]="['/']" routerLinkActive="active">Home</a>
      <a class="navbar-brand " [routerLink]="['/cursos']" routerLinkActive="active">Cursos</a>
      <a class="navbar-brand " [routerLink]="['/upload']" routerLinkActive="active">Upload</a>
      <a class="navbar-brand " [routerLink]="['/busca']" routerLinkActive="active">Buscar</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
