<h3 style="text-align: center;">Adicionar novo endereço:</h3>
<form fxLayout="column" [formGroup]="formController" >
    <span>
        <mat-form-field class="cepInput" >
            <mat-label>CEP</mat-label>
            <input matInput formControlName="cep">
        </mat-form-field>
        <mat-form-field class="nInput" >
            <mat-label>N°</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="nInput">
            <mat-label>Apto</mat-label>
            <input matInput formControlName="n">
        </mat-form-field>
    </span>
    <span fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field class="selectform">
            <mat-label>Selecione seu estado</mat-label>
            <mat-select formControlName="uf">
                <mat-option value="Rio Grande do Sul" >
                    Rio Grande do Sul
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="selectform">
            <mat-label>Selecione sua Cidade</mat-label>
            <mat-select formControlName="cidade">
                <mat-option value="Rio Grande do Sul" >
                    Rio Grande do Sul
                </mat-option>
            </mat-select>
        </mat-form-field>
    </span>
    <mat-form-field>
        <mat-label>Referência</mat-label>
        <input matInput formControlName="ref">
    </mat-form-field>
    <mat-form-field class="selectform">
        <mat-label>Nome do Endereço:</mat-label>
        <input matInput>
    </mat-form-field>
    <span fxLayout="row" fxLayoutAlign="flex-end">
        <button mat-raised-button color="primary">Adicionar Endereço</button>
        <button mat-raised-button style="margin-left: 10px;margin-right: 10px;">Cancelar</button>
    </span>
</form>