<div class="d-flex flex-column align-items-center" *ngIf="directiveStats">
  <div class="col-md-6 card " style="margin-top: 20px; padding: 10px;">
    <form class="row g-3" [formGroup]="profileForm">
      <div class="col-md-6" *ngFor="let form of formDirectives">
        <label class="form-label"> {{ form.label }} </label>
        <input [type]="form.tipo" class="form-control" [formControlName]="form.formNam">
      </div>
      <div>

        <mat-form-field appearance="fill">
          <mat-label>Tipo:</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let option of selectDirectives">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <input type="file" formControlName="img">
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Leave a comment</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
      </div>
      <div class="col-12 d-flex justify-content-end">
        <button class="btn btn-success" (click)="onSend()">Adicionar</button>
        <button class="btn btn-danger" style="margin-left: 10px;" [routerLink]="['/films']">Cancelar</button>
      </div>
    </form>
  </div>
</div>
<div>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
