/* Corpo do documento */
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    display: flex;
    flex-direction:row-reverse;
}

/* Painel Lateral*/
#borda{
    background-image: linear-gradient(to right, #404040 ,#1a1a1a);
    width: 10px;
}
aside{
    color: white;
    width: 15vw;
    min-width: 200px;
    background-color: #404040;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.links{
    width: 100;
    display: flex;
    flex-direction: column;
}

.icons{
    width: 15px;
}
.linked{
    margin-top: 20px;
    display: flex;
    list-style: none;
    cursor: pointer;
}
.linked:hover{
    text-decoration: underline;

}
div ul{
    flex-direction: column;
    display: flex;
    align-items: center;
}
/* Icone do usuário */
.user{
    cursor: auto;
    width: 10vw;
    border-radius: 50%;
}
/* Ícones da barra lateral feitos com CSS*/
.botao{
    margin: 2px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20px;
    background-color: rgb(54, 54, 54);
    padding: 5px;
    cursor: pointer;
}
.tr{
    background-color: white;
    width: 15px;
    height: 3px;
    margin: 2px;
}
.X{
    font-size: 15px;
    color: white;
}
.X::before{
    content: "X";
}
.direction-row{
    display: flex;
    flex-direction: row-reverse;
}

/* Painel Superior*/
header{
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    background-color: rgb(39, 0, 113);
    width: 85vw;
    height: 100px;
}
#bordaS{
    display: flex;
    width: 100%;
    height: 15px;
    background-image: linear-gradient(to bottom, rgb(39, 0, 113), rgb(33, 1, 94))
}


/* Rodapé da página */
/*
footer{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: yellow;
}