<app-shadow-modal></app-shadow-modal>
<div class="dia" fxLayout="column" fxLayoutAligh="center center" style="text-align: center;">
  <h3>Excluir</h3>
  <div mat-dialog-content>
    <p>Você tem certeza que deseja excluir este filme?</p>
    <div>
      <button cdkfocusinitial="" class="mat-focus-indicator mat-button mat-button-base" (click)="yes()"><strong>Sim</strong></button>
      <button cdkfocusinitial="" class="mat-focus-indicator mat-button mat-button-base" (click)="redirect()">Cancelar</button>
    </div>
  </div>

</div>
