<mat-toolbar color="primary" class="nabvar">
    <span>
      <button mat-flat-button color="primary" [routerLink]="['home']" routerLinkActive="">Home</button>
      <button mat-flat-button color="primary" [routerLink]="['/films']" routerLinkActive="">Filmes</button>
      <button mat-flat-button color="primary" [routerLink]="['/series']" routerLinkActive="">Séries</button>
      <button mat-flat-button color="primary" [routerLink]="['/about']" routerLinkActive="">Sobre</button>
      <button mat-flat-button color="primary" [routerLink]="['/community']" routerLinkActive="">Comunidade</button>
    </span>
  </mat-toolbar>