<h3 style="text-align: center;">Adicionar novo endereço:</h3>
<form class="column" [formGroup]="formController">
    <span>
        <mat-form-field class="cepInput">
            <mat-label>CEP</mat-label>
            <input matInput formControlName="cep" (change)="onChangeCEP()">
        </mat-form-field>
        <mat-form-field class="nInput">
            <mat-label>N°</mat-label>
            <input matInput formControlName="n">
        </mat-form-field>
        <mat-form-field class="nInput">
            <mat-label>Apto</mat-label>
            <input matInput formControlName="apto">
        </mat-form-field>
    </span>
    <span class="row bet">
        <mat-form-field class="selectform">
            <mat-label>Estado</mat-label>
            <input matInput formControlName="uf">
        </mat-form-field>
        <mat-form-field class="selectform">
            <mat-label>Cidade</mat-label>
            <input matInput formControlName="cidade">
        </mat-form-field>
    </span>
    <mat-form-field class="inp90">
        <mat-label>Referência</mat-label>
        <input matInput formControlName="ref">
    </mat-form-field>
    <mat-form-field class="inp90">
        <mat-label>Bairro</mat-label>
        <input matInput formControlName="bairro">
    </mat-form-field>
    <mat-form-field class="cepInput">
        <mat-label>Nome do Endereço:</mat-label>
        <input matInput formControlName="nomeEnd">
    </mat-form-field>
    <span class="row end">
        <button mat-raised-button color="primary" (click)="onSend()">Adicionar Endereço</button>
        <button mat-raised-button style="margin-left: 10px;margin-right: 10px;" (click)="onCancel()">Cancelar</button>
    </span>
</form>