<span class="content" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="card">
    <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
    <app-login *ngIf="!subscribe"></app-login>
    <app-signup *ngIf="subscribe"></app-signup>
    <span fxLayout="column" fxLayoutAlign="center center">
      <a (click)="subscribe =!subscribe" *ngIf="!subscribe" class="cursor">Quero me Inscrever</a>
      <a (click)="subscribe =!subscribe" *ngIf="subscribe" class="cursor">Fazer Login</a>
    </span>
  </mat-card>
</span>
