@use '~@angular/material'as mat;



@import './app/shared/styles/main.theme.scss';
@import './app/shared/styles/shared.style.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
