<app-option-pannel class="card bg-light"></app-option-pannel>
<div class="container" style="margin-top: 20px;">
  <ul class="list-group card" *ngIf="infoFilmes">
    <div class=" card d-flex flex-row align-items-center" *ngFor="let filme of infoFilmes">
      <img [src]=" filme.url" style="width: 20%;" class="card-img-top" alt="...">
      <span>
        <h2 style="text-align: center;"> <strong> {{ filme.name }} </strong></h2>
        <p style="box-sizing: border-box; padding:40px"> {{ filme.descript }} </p>
      </span>
      <span class="d-flex flex-column btn-group me-2 align-items-center">
        <input class="form-check-input" type="checkbox">
        <button type="button" class="btn btn-primary" style="margin-top: 10px;width: 100%;"
          (click)="onEdit(filme.id)">Editar</button>
        <button type="button" class="btn btn-primary" style="margin-top: 10px;"
          (click)="onView(filme.id)">Vizualizar</button>
        <button type="button" class="btn btn-danger" style="margin-top: 10px; width:100%;"
          (click)="showModal(filme.id)">Excluir</button>
      </span>
    </div>
  </ul>
</div>
<div class="container card text-center flex justify-content-center" style="height: 80%;" *ngIf="!infoFilmes">
  <h1>Oops!</h1>
  <p>Não encontramos nenhum filme, Gostatia de inserir algum?</p>
  <div class="container">
    <button type="button" class="btn btn-outline-warning me-2">Adicionar Novo</button>
  </div>
</div>
<router-outlet></router-outlet>
