<div class="container" style="margin-top: 10px;">
  <div class="mb-3">
    <label for="formFile" class="form-label">Arquivo de upload</label>
    <input class="form-control" type="file" id="formFile" (change)="onChange($event)" multiple>
    <div class="progress">
      <div class="progress-bar" role="progressbar" [style.width]="progress + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
    </div>
  </div>
  <button type="button" class="btn btn-dark" (click)="onSubmit()">Enviar</button>
  <div class="mb-3" style="margin-top: 20px;">
    <label for="formFile" class="form-label">Baixar arquivo</label>
    <input class="form-control" type="file" id="formFile" (change)="onChange($event)" multiple>
    <div class="progress">
      <div class="progress-bar" role="progressbar" [style.width]="progressDownload + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
    </div>
  </div>
  <button type="button" class="btn btn-dark" (click)="onDownloadExcel()">Download Excel</button>
  <button type="button" class="btn btn-dark" (click)="onDownloadPDF()" style="margin-left: 10px;">Download PDF</button>
</div>
