<span class="flex-column flex-center-center center-wide">
  <mat-card class="card">
    <mat-progress-bar mode="indeterminate" *ngIf="progress"></mat-progress-bar>
    <div class="flex-row flex-center-center">
      <mat-icon> home </mat-icon>
    </div>
    <div class="content">

      <form [formGroup]="profileForm">
        <mat-form-field appearance="standard" class="w-100">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email">
        </mat-form-field>
        <div>
          <mat-form-field appearance="standard" class="w-100">
            <mat-label>Insira sua senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">

            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

          </mat-form-field>
        </div>
        <span class="flex-column flex-center-center">
          <mat-checkbox formControlName="remember">lembrar minha senha</mat-checkbox>
          <button mat-flat-button color="basic" (click)="OnLogin()">Login</button>
          <button mat-flat-button color="basic" class="cursor" [routerLink]="['/inscrever']">Quero me Inscrever</button>
        </span>
      </form>
    </div>
  </mat-card>
</span>