<mat-toolbar color="basic" class="navbar">
  <mat-toolbar-row class="row arr-cent" >
    <span>Logo</span>
    <span class="search-input">
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Pesquisar</mat-label>
        <input type="search" matInput placeholder="Ex. TV LED Full HD">
      </mat-form-field>
    </span>
    <span>Bem Vindo, &user!</span>
  </mat-toolbar-row>
  <mat-toolbar-row class="row arr-cent navbar">
    <span>
      <button mat-button [matMenuTriggerFor]="category">Categorias</button>
      <mat-menu #category="matMenu">
        <button mat-menu-item *ngFor="let categoria of categorias" value="categoria"> {{ categoria }} </button>
      </mat-menu>
    </span>
    <span>
      <button mat-button color="basic" (click)="openDialog()">Filtro</button>
    </span>
    <span>
      <span>
        <button mat-button color="basic" (click)="openCart()">
          <span class="material-icons" [matBadge]="itens" matBadgeColor="accent">local_grocery_store</span>
        </button>
        <button mat-button color="basic">
          <span class="material-icons">account_circle</span>
          Fazer Login
        </button>
      </span>
    </span>
  </mat-toolbar-row>
</mat-toolbar>