<mat-card class="chat">

    <mat-toolbar class="nav" color="primary">
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>

    <mat-card-content class="content">
        <div class="lateral-bar">
            <button mat-button style="width: 100%;">
                <span class="img-circular">
                    <img src="#">
                </span>
                Everton Auth
            </button>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div style="width: 100%;">
            <mat-toolbar class="nav">
                <img src="#">
                Everton Auth
            </mat-toolbar>
            <span>
                <mat-toolbar class="nav">
                </mat-toolbar>
            </span>
        </div>
    </mat-card-content>
</mat-card>