html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: flex-end;
}
main{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#icons{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logo{
    margin-bottom: 20px;
}
#search{
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    font-size: 16px;
    height: 40px;
    width: 300px;
    text-align: center;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 2px 2px rgb(199 199 199);
}
#search:focus{
    border: 0 none;
    outline: 0;
}
/*
    LISTA DE ATALHOS
*/
#atalhos{
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 430px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.add{
    display: flex;
    width: 100px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}
.add:hover{
    background-color: rgb(184, 184, 184);
    opacity: 0.5;
    cursor: pointer;
}
.circle{
    display: flex;
    align-items: center;
    width:60px;
    height:60px;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(241 243 244);
    font-size: 30px;
    font-weight: bold;
}
.circle::before{
    content: "+";
}

#l{
    margin-top: 10px;
    transform: translateX(45px);
    cursor: pointer;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0iIzVGNjM2OCI+PHBhdGggZD0iTTE1LjUgMTRoLS43OWwtLjI4LS4yN0E2LjQ3MSA2LjQ3MSAwIDAgMCAxNiA5LjUgNi41IDYuNSAwIDEgMCA5LjUgMTZjMS42MSAwIDMuMDktLjU5IDQuMjMtMS41N2wuMjcuMjh2Ljc5bDUgNC45OUwyMC40OSAxOWwtNC45OS01em0tNiAwQzcuMDEgMTQgNSAxMS45OSA1IDkuNVM3LjAxIDUgOS41IDUgMTQgNy4wMSAxNCA5LjUgMTEuOTkgMTQgOS41IDE0eiIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    width:32px;
    height:32px;
}
#m{
    margin-top: 10px;
    transform: translateX(-35px);
    cursor: pointer;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgyNHYyNEgweiIvPjxwYXRoIGZpbGw9IiM0Mjg1RjQiIGQ9Ik0xMiAxNWMxLjY2IDAgMi45OS0xLjM0IDIuOTktM0wxNSA1YzAtMS42Ni0xLjM0LTMtMy0zUzkgMy4zNCA5IDV2N2MwIDEuNjYgMS4zNCAzIDMgM3oiLz48cGF0aCBmaWxsPSIjMzRBODUzIiBkPSJNMTEgMTguOTJoMlYyMmgtMnoiLz48cGF0aCBmaWxsPSIjRjRCNDAwIiBkPSJNNyAxMkg1YzAgMS45My43OCAzLjY4IDIuMDUgNC45NWwxLjQxLTEuNDFDNy41NiAxNC42MyA3IDEzLjM4IDcgMTJ6Ii8+PHBhdGggZmlsbD0iI0VBNDMzNSIgZD0iTTEyIDE3Yy0xLjM4IDAtMi42My0uNTYtMy41NC0xLjQ3bC0xLjQxIDEuNDFBNi45OSA2Ljk5IDAgMCAwIDEyLjAxIDE5YzMuODcgMCA2Ljk4LTMuMTQgNi45OC03aC0yYzAgMi43Ni0yLjIzIDUtNC45OSA1eiIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    width:32px;
    height:32px;
}
.bp{
    display: flex;
    width: 4px;
    height: 4px;
    background-color: rgb(68, 68, 68);
    margin: 1px;
    border-radius: 50%;
}
.l1{
    display: flex;
}
.bot-sup{
    float: right;
    padding: 10px;
    border-radius: 50%;
}
.bot-sup:hover{
    background-color: rgb(223, 223, 223);
}
.dus{
    float: right;
    padding: 3px;
    border-radius: 50%;
}
.dus:hover{
    background-color: rgb(223, 223, 223);
}
#user{
    border-radius: 50%;
}
.hea{
    margin-top: 15px;
    margin-right: 15px;
}
a{
    font-size: 14px;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    text-decoration: none;
}
a:hover{
    border: none;
    text-decoration: underline;
}
a:visited{
    color: black;
}
@media only screen and (max-width:600px){
#search{
    width: 90%;
}
#atalhos{
    display: none;
}
#m{
    transform: translateX(-30px);
}
#l{
    transform: translateX(30px);
}
}